[submodule "third_party/volk"]
	path = third_party/volk
	url = https://github.com/zeux/volk.git
[submodule "third_party/cppcoro"]
	path = third_party/cppcoro
	url = https://github.com/lewissbaker/cppcoro.git
